
::selection{
  background: black;
}
.tab_tab{
  color: #fff;
}
.tabs{
  width: 1000px;
  height: 500px;
  margin: 50px 50px 50px auto;
}
.tabs > input{
  display: none;
}
.tabs > label{
  display: block;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s;
}
.tabs > label:hover,
.tabs > input:checked + label{
  background: black;
}
.tab{
  clear: both;
  perspective: 800px;
}
.tab>div{
  width: 1000px;
  position: absolute;
  border: 2px solid black;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}
#tab-nav-1:checked ~ .tab > div:nth-of-type(1),
#tab-nav-2:checked ~ .tab > div:nth-of-type(2),
#tab-nav-3:checked ~ .tab > div:nth-of-type(3),
#tab-nav-4:checked ~ .tab > div:nth-of-type(4)
{
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}
@media(max-width:700px){
  .tabs{
    width: 300px;
  }
  .tabs >label{
    display: none;
  }
  .tab >div{
    width: 300px;
    border: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .tab >div h2{
    border-bottom: 2px solid black
    /* padding-bottom: 0.5em; */
  }
}
.container{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  height: 380px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card:hover{
  height: 570px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.card .img{
  height: 300px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text{
  font-size: 15px;
  text-align: justify;
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #346751;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    max-width: 700px;
    margin: 20px 0;
  }
}
